.formAddTask {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}
.formAddTask > input {
    width: 90%;
    padding: 0.6rem;

    background-color: #1a5b78;

    font-weight: 600;

    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.formAddTask > input::placeholder {
    color: rgba(0, 0, 0, 0.564);
}

.formAddTask > button {
    width: 70px;
    padding: 0.6rem;

    background-color: #0c2e45;
    color: #2bbec8;
    font-weight: 800;

    border: 1px solid black;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
}
.formAddTask > button:disabled {
    background-color: #0c2e45c4;
    color: #2bbdc877;

    cursor: not-allowed;
}
