.formAddTask {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}
.formAddTask > input {
    width: 90%;
    padding: 0.6rem;

    font-weight: 600;

    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.formAddTask > input::placeholder {
    color: rgba(0, 0, 0, 0.564);
}

.formAddTask > button {
    width: 70px;
    padding: 0.6rem;

    font-weight: 800;

    border: 1px solid black;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
}
#button:disabled {
    color: #1a1a1a75;
    background-color: rgb(56, 56, 56);

    cursor: not-allowed;
}
